@import "tailwindcss";

@font-face {
  font-family: 'EBGaramond-Regular';
  src: url('/fonts/EBGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'EBGaramond-Regular', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
